Documents/
Downloads/
Dropbox/
Music/
Pictures/
Videos/
.cfg
.dotfiles
.Xauthority
.bash_history
.bash_logout
.bash_profile
.cache/
.config/GIMP/
.config/MMM/
.config/dconf/user
.config/galculator/
.config/gcolor3/
.config/gthumb/
.config/inkscape/
.config/ipython/
.config/libreoffice/
.config/lzdoom/
.config/mimeapps.list
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.dropbox-dist/
.dropbox/
.fehbg
.gitconfig
.gnupg/
.mozilla/
.ncmpcpp/error.log
.icons/
.ipython/
.jupyter/
.lesshst
.local/
.lyrics/
.python_history
.themes/
.thunderbird/
.vim/
.viminfo
.vimrc
.w3m/
