Xft.lcdfilter:  lcddefault
Xft.antialias:  1
Xft.rgba:       rgba
Xft.autohint:   0
Xft.hinting:    1
Xft.hintstyle:  hintslight
Xft.dpi:        96

XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.savelines: 4096

XTerm*internalBorder: 20

! Cut and paste
xterm*VT100.Translations: #override \
    Shift <KeyPress> Insert: insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
    Ctrl <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY)

! Font
XTerm*faceName: Maple Mono
XTerm*faceSize: 12

!Colors
*.foreground:   #c5cdd9
*.background:   #2b2d37
*.cursorColor:  #c5cdd9

*.color0:   #2b2d37
*.color8:   #2b2d37
*.color1:   #ec7279
*.color9:   #ec7279
*.color2:   #a0c980
*.color10:  #a0c980
*.color3:   #deb974
*.color11:  #deb974
*.color4:   #6cb6eb
*.color12:  #6cb6eb
*.color5:   #d38aea
*.color13:  #d38aea
*.color6:   #5dbbc1
*.color14:  #5dbbc1
*.color7:   #c5cdd9
*.color15:  #c5cdd9
