Xft.lcdfilter:  lcddefault
Xft.antialias:  1
Xft.rgba:       rgba
Xft.autohint:   0
Xft.hinting:    1
Xft.hintstyle:  hintslight
Xft.dpi:        96

XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.savelines: 4096

XTerm*internalBorder: 20

! Cut and paste
xterm*VT100.Translations: #override \
    Shift <KeyPress> Insert: insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
    Ctrl <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY)

! Font
XTerm*faceName: JetBrains Mono
XTerm*faceSize: 11

*.foreground  :#777575
*.background  :#f9f9f9
*.cursorColor :#515151

*.color0  :#F4EFEF
*.color8  :#F4EFEF
*.color1  :#da9191
*.color9  :#da9191
*.color2  :#AEC59E
*.color10 :#AEC59E
*.color3  :#E0B882
*.color11 :#E0B882
*.color4  :#9ABDDD
*.color12 :#9ABDDD
*.color5  :#DF93B5
*.color13 :#DF93B5
*.color6  :#AAC7B3
*.color14 :#AAC7B3
*.color7  :#777575
*.color15 :#777575
